.header{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.search{
    padding-top: 20px;
    width:100%;
    display:flex;
    justify-content: center;
}
.product{
    width: fit-content;
      
}

.body{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width:100%;
    height:50px;
    position:fixed;
    text-align: center;
    background-color: black;
    color:white;
    padding: 10px;
    bottom:0;
    left: 0;
    right: 0;
}